*{
    margin: 0;
    box-sizing: border-box;
}














.navbar{
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
         filter: drop-shadow(0 00.8rem 00.3rem rgba(216, 214, 214, 0.8)); 

}
.clear{
    clear: both;
}

.tx1{

    width: auto;

}
.tx1 a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(26, 26, 26);
}
.links{
    width: 500px;
    height: 70px;
    margin-left: 15%;
   
}
.links ul{
list-style-type: none;
}
.links a{
    text-decoration: none;
    float: left;
margin: 25px 15px ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(120, 119, 119);
    font-size: larger;
    


 
}
.links a:hover{
    color:black;
   
       border-bottom: 1px solid red ;
}



/* section2 */
.parent{
    width: auto;
    height: 800px;
    background-color: rgb(236, 236, 236);
}
.child{
    width: auto;
    height: 600px;
    margin: auto;
    /* margin-top: 10%; */
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;

}
.text{
width: 500px;
height: 300px;
/* background-color: blanchedalmond; */
    margin-left: 10%;
    padding-top: 20px;
    margin-top: 15%;
  }
  .text h1{
    font-family: "Amatic SC", sans-serif;
    font-size: 80px;
    
  }
  .text p{
    font-family: Arial, Helvetica, sans-serif;
color: rgb(59, 58, 58);
  }
.photo1{
    width: 700px;
    height:600px ;
    margin-top: 5%;
    /* background-color: darkmagenta; */
    

}
.photo1 img{
    width: 75%;
    margin-top: 15%;
    margin-left: 5%;

   
    filter:  drop-shadow(0 10px 10px  rgba(0, 0, 0, 0.2));
}
.photo1:hover img{
    animation:shake 0.6s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.button{
    display: flex;
    
}
.child1 button{
    margin-top: 2px;
    padding: 11px 22px;
    border: none;
    background-color: rgb(203, 51, 51);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.child2{
    padding-left: 20px;
}

.child3{
    padding-top: 9px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.child3 a{
    color: rgb(29, 29, 29);

    text-decoration: none;

}
.child3 a:hover{
    color: red;
    transition-duration: 0.5s;

}
.child1 button:hover{
    background-color: rgb(232, 16, 16);
    transition-duration: 0.5s;
    
}

  /* section3 */
  .sec3{
    width: auto;
    height: 107vh;
    background-color:white;

  }
  .all{
    width: 1500;
    height: 700px;
    /* background-color: beige; */
    display: flex;
    /* margin: auto; */
    margin-left: 5%;
    padding-top:20px ;
    margin-top: 5%;
  }
  .text1{
    width: 500px;
    height: 100px;
    /* background-color: white; */
    margin: auto;
    text-align: center;
    padding-top: 40px;
  }
  .text1 p{
    font-family: Arial, Helvetica, sans-serif;
color: rgb(92, 91, 91);
  }
  .text1 h4{
    font-family: "Amatic SC", sans-serif;
font-size: 50px;
  }
  .photos{
    /* margin: auto; */
    width: 28%;
    margin-left: 2%;
    height: 600px;
    background-color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    filter: drop-shadow(0 00.8rem 0.9rem rgba(175, 174, 174, 0.8)); 
    position: relative;
    overflow: hidden;

  }
  .photos p{
    color: rgb(128, 122, 122);
    padding-top: 5px;
  }
  .photos img{
    width: 100%;
    border-radius: 10px;
    /* filter: drop-shadow(0 00.8rem 4rem rgba(216, 214, 214, 0.8));  */
}
.photos:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.shadow{
    height: 170px;
    width: 50px;
    background-color: rgba(255, 244, 244, 0.822);
    position: absolute;
    opacity: 0;
/* margin-bottom: 10px; */
right:10px;
margin-top: 8%;
transform: translateX(130%);
border-radius: 10px;
}
.photos:hover .shadow{
    transform: translateX(0);
    transition-delay: 0.5s;
    transition-duration: 0.3s;
opacity: 0.8;
}
/* section4 */
.sec4{
    width: auto;
    height: 188vh;
    background-color: rgb(243, 243, 243);
    /* display: flex; */
    /* overflow: hidden; */
}

.grandparent{
    width: auto;
    height: 2000px;
    /* background-color: rgb(230, 230, 230); */
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
 margin: 8%;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* overflow: hidden; */
}
.parent4{
    display: flex;
    flex-direction: column;
    width: auto;
    /* background-color: blue; */
    height: 1200PX;
    position: relative;
    margin-top: 5%;
/* overflow: hidden; */

}
.div1{
    width: 400px;
    height: 300px;
    background-color: rgb(218, 132, 21);
    /* margin-left: 10%; */
    border: 5px solid white;
overflow: hidden;
position: relative;


}
.div1 img{
    width: 100%;
    height: 100%;
/* overflow: hidden; */

    
}
.div2{
    width: 400px;
    height: 600px;
    /* align-items: stretch; */
    background-color: rgb(35, 201, 90);
    margin-top: 5%;
    /* margin-left: 10%; */
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}
.div2 img{
    width: 100%;
    height: 100%;
}
.div3{
    width: 400px;
    height: 800px;
    background-color: rgb(145, 32, 64);
        /* margin-left: 10%; */
        border: 5px solid white;
        overflow: hidden;
        position: relative;

}
.div3 img{
    width: 100%;
    height: 100%;
}
.div4{
    width: 400px;
    height: 350PX;
    /* align-items: stretch; */
    margin-top: 5%;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
    background-color: rgb(22, 139, 114);
}
.div4 img{
    width: 100%;
    height: 100%;
}
.div5{
    width: 400px;
    height: 300px;
    /* padding-top: 10px; */
    border: 5px solid white;
    overflow: hidden;
    position: relative;
    /* margin-right: 10%; */
    background-color: rgb(223, 2, 2);
}
.div5 img{
    width: 100%;
    height: 100%;
}
.div6{
    width: 400px;
    height: 300px;
    /* top: 0%; */
    margin-top: 5%;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
    background-color: rgb(211, 219, 158);
}
.div6 img{
    width: 100%;
    height: 100%;
}
.div7{
    margin-top: 5%;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(133, 25, 191);
    /* justify-content: end; */
    border: 5px solid white;

    /* float: right; */
}
.div7 img{
    width: 100%;
    height: 100%;
}
.shadow1{

    /* height: 300px; */
  right: 0;
   top: 0;
  left: 0;
  bottom: 0;
  
    background-color: rgb(9, 9, 9);
position: absolute;
transform: translateY(100%);
/* opacity: 0; */
text-align:center;
/* transition-property: img; */
}
.shadow1 h2{
    opacity: 1;
    color: white;
font-family: Arial, Helvetica, sans-serif;
margin-top: 30%;
}
.shadow1 p{
    color: white;
font-family: Arial, Helvetica, sans-serif;
}
/* .div1:hover img{
    transform: scale(1.1);
    
} */
 .div1:hover .shadow1{
   transform:translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}


.div2:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}
.div3:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}
.div4:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}
.div5:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}
.div6:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
   /* scale:img (1.2); */
}
.div7:hover .shadow1{
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
}
/* .IMAGE img:hover{
    transform: scale(1.2);
    transform: translateY(0); 

    background-color: rgba(0, 0, 0,0.6);
color: white;
    transition-duration: 0.5s;
} */





/* section5 */
.sec5{

width: auto;
height: 155vh;
background-color: rgb(248, 248, 248);
}
.map{
    width: 1300px;
    height: 350px;
    background-color: beige;
    margin: auto;
    margin-top: 4%;
}
.content{
    width: 1300px;
    height: 220px;
    /* background-color: brown; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content:space-between ;
    flex-wrap: wrap;
    margin-top: 20px;
}
.cont1{
    width: 49%;
    height: 100px;
    background-color: rgb(245, 242, 242);
    display: flex;

}
.cont2{
    width: 49%;
    height: 100px;
    background-color: rgb(245, 242, 242);
    display: flex;

}
.cont3{
    width: 49%;
    height: 100px;
    background-color: rgb(245, 242, 242);
/* margin-top: 9%; */
display: flex;
}
.cont4{
    width: 49%;
    height: 100px;
    background-color: rgb(245, 242, 242);
    /* margin-top: 9%; */
    margin-top: 0;
    display: flex;

}
 .text3{
    width: 320px;
    height: 70px;
    /* background-color: aquamarine; */
    margin-left: 4%;
    margin-top: 3%;
    color: rgb(103, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
}
 .icons{
    width: 50px;
    height: 50px;
background-color: rgb(216, 56, 56);
border-radius: 50%;
margin-top: 4%;
margin-left: 5%;
}

.text3 p{
    color: black;
}
.input{
    width: 1300px;
    height: 420px;
    background-color: white;
    margin: auto;
    margin-top: 3%;
    filter: drop-shadow(0 00.8rem 0.9rem rgba(212, 211, 211, 0.8)); 
   

}
input{
    border: 2px solid rgb(216, 211, 211);
}
textarea{
    border: 2px solid rgb(216, 211, 211);

}
.input button{
    border: none;
    color: white;
    background-color: rgb(202, 33, 33);
    padding:  15px 30px;
    margin-left: 45%;
    margin-top: 30px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.input button:hover{
    background-color: rgb(232, 16, 16);
    transition-duration: 0.5s;
}

    /* section6 */
.sec6{
    width: auto;
    height: 320px;
    display: flex;
    background-color: rgb(13, 13, 13);
}
.ch1{
    width: 400px;
    height: 300px;
}
.part1{
    width: 400px;
    height: 80px;
    
}
.part1 h2{
    margin-right: 29%;
    float: right;
    font-size: 30px;
    margin-top: 7%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ch2{
    width: 700px;
    height: 300px;
}
.ch3{
    width: 400px;
    height: 200px;
    margin-top: 20px;
}
    
.part2{
    width: 310px;
    height: 100px;
    margin-left: 22%;
    padding:5px;
    color: white;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.part3{
    width: 310px;
    height: 100px;
    margin-left: 22%;
    text-align: center;
}
.part3 img{
margin-left: 5%;}
.part4{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 6px;
}
.part4 button{
    border: none;
    color: white;
    background-color: rgb(202, 33, 33);
    padding:  15px 18px
}
.part4 button:hover{
    background-color: rgb(232, 16, 16);
    transition-duration: 0.5s;
}
.sections{
    width: 700px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.sect1{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect1 a{
    text-decoration: none;
    color: white;
}
.sect1:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.sect2{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect2 a{
    text-decoration: none;
    color: white;
}
.sect2:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.sect3{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect3 a{
    text-decoration: none;
    color: white;
}
.sect3:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.sect4{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect4 a{
    text-decoration: none;
    color: white;
}
.sect4:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.sect5{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect5 a{
    text-decoration: none;
    color: white;
}
.sect5:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.sect6{
    width: 350px;
    height: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 3px;

}
.sect6 a{
    text-decoration: none;
    color: white;
}
.sect6:hover{

    transform: translateX(7px);
    transition-duration: 0.3s;
    background-color: rgb(43, 42, 42); 
}
.ch2 h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ch2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}


.textt{
    float: right;
    margin-right: 35%;
    /* margin-top:5px ; */
}
.imgg{
    float: left;
    
    width: 30px;
}
.ch3{
    color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}